* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 30px;
  padding-right: 100px;
}

.links ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 24px;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: black;
}

.text-items p {
  color: #999;
}

.container {
  padding: 30px 150px;
}

.text-items {
  padding-top: 100px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.text-button {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90%;
  font-size: 20px;
}

.header-img img {
  border-radius: 50%;
  width: 50%;
}

.header-img {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-button button {
  width: 208px;
  height: 47px;
  background-color: #ff6464;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.posts {
  margin-top: 30px;
  background-color: #edf7fa;
  padding: 20px 150px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewall {
  color: #00a8cc;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.recentpost {
  font-size: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  margin-top: 25px;
}

.card h2 {
  font-size: 26px;
}

.card span {
  font-size: 18px;
}

.card p {
  font-size: 18px;
}

.spans {
  display: flex;
  gap: 15px;
}

.fw {
  font-size: 20px;
}

.card1 {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  justify-content: start;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.card1 img {
  width: 20%;
  border-radius: 6px;
}

.head {
  width: 70%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.year {
  display: flex;
  align-items: center;
  gap: 20px;
}

.year h3 {
  background-color: #142850;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 16px;
}

.year p {
  color: #999;
}

.head p {
  width: 550px;
}

.cards1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 50px;
}

footer {
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
